{% extends "home.html" %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
<div class="best-blogs">
    <!-- <img src="https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"> -->
    <div class="heading">
        <h1>Reading is essential for those who seek to rise above the ordinary.</h1>
    </div>
    <div class="desc">
        <p>We are of opinion that instead of letting books grow moldy behind an iron grating, far from the vulgar gaze, it is better to let them wear out by being read.</p>
        {% comment %} <a href="" class="read">Read More</a> {% endcomment %}
    </div>
</div>

{% for blog in page_obj  %}
<div class="container">
    <div class="row featurette">
        <div class="col-md-5 order-md-1 area">
            <img src="{{blog.image.url}}" class="b-img">
        </div>
        <div class="col-md-7 order-md-2 area">
            <h2 class="featurette-heading">{{blog.title}}</h2>
            <p class="lead">{{blog.description|truncatewords:100 | safe}}...</p>
            <a href="{% url 'detail'   blog.pk %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
 {% endfor %} 
 
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.has_previous}}" tabindex="-1">Previous</a>
    </li>
    {% endif %}
     {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{page_obj.next_page_number }}">Next</a>
    </li>
    {% endif %}
  </ul>

{% endblock body %}