.best-blogs {
    margin-bottom: 30px;
    background: url(https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
    border-bottom: 3px solid rebeccapurple;
}

.best-blogs .heading h1 {
    font-family: monospace;
    font-size: 5vh;
}

.desc p {
    font-size: 30px;
    color: white;
    font-weight: 500;
}

.read {
    text-decoration: none;
    color: white;
    font-size: 35px;
    border: 3px solid white;
    background: slategrey;
    padding: 0 10px;
}

.b-img{
    width: 100%;
    height: 300px;
   
}
a{
    font-size: large;
    z-index: 1;
}